a {
    text-decoration: none;
}

h3 {
    margin-block-end: unset;
}

cite {
    color: #006621;
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.43;
}

form {
    display: flex;
    flex-direction: column;
}

button {
     align-self: center;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 20px;


  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

      background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
    border-radius: 50px;

}

button:hover {background-color: #e7e7e7;}

.ip {
    position: absolute;
    top: 20px;
    right: 20px;
}

.container {
    margin: 50px;
}

.phrase {
    align-self: center;
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
    border-radius: 30px;
    margin: 20px;
    padding-left: 10px;
}

.description {
    display: block;
    font-family: arial,sans-serif;
    font-size: small;
    line-height: 1.54;
    text-decoration: none;
    color: #4f4f4f;
}

.counter {
    font-style: italic;
}

.keywords {
}